/*
TODO(auberon): Investigate tools for scoping CSS in React.
*/

#compButtonHolder {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    gap: 10px;
    /* Make sure the buttons are in front of the items being ranked */
    z-index: 1; 
}

#compButtonHolder button {
    flex-grow: 1;
    height: 100px;
    background-color: hotpink;
    border-color: black;
    border-radius: 30px;
}